<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="css/HomaPage.css">
    <title>Document</title>
</head>
<body>
    
<header>
    <a href="#" class ="TUTORS">TUTORS</a>
    <a href="#" class ="COURSES">COURSES</a>
    <a href="#" class ="CLASSROOMS">CLASSROOMS</a>
    <a href="#" class ="ABOUTUS">ABOUTUS</a>
    <a href="#" class ="LOGIN">LOGIN</a>
    <a href="#" class ="WORK WITH US">WORK WITH US</a>
    <a href="#" class ="RESERVE A SESSION">RESERVE A SESSION</a>







   <img src="../assets/academylogo.svg" alt="LOGO">
</header>
</body>
</html>